:root {
    --space-0: 0px;
    --space-1: 1px;
    --space-2: 2px;
    --space-4: 4px;
    --space-6: 6px;
    --space-8: 8px;
    --space-10: 10px;
    --space-12: 12px;
    --space-14: 14px;
    --space-16: 16px;
    --space-20: 20px;
    --space-24: 24px;
    --space-28: 28px;
    --space-32: 32px;
    --space-36: 36px;
    --space-40: 40px;
    --space-44: 44px;
    --space-48: 48px;
    --space-56: 56px;
    --space-64: 64px;
    --space-80: 80px;
    --space-96: 96px;
    --space-112: 112px;
    --space-128: 128px;
    --space-144: 144px;
    --space-160: 160px;
    --space-176: 176px;
    --space-192: 192px;
    --space-208: 208px;
    --space-224: 224px;
    --space-240: 240px;
    --space-256: 256px;
    --space-288: 288px;
    --space-320: 320px;
    --space-384: 384px;
}
